@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@font-face {
  font-family: war1;
  src: url("../fonts/war1.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: war2;
  src: url("../fonts/war2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
  --font-primary: war1;
  --font-secondary: war2;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
.border {
  border: 10px solid red;
}
.clean {
  overflow: hidden;
}
/* Typography */

::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  font-family: "Black Ops One", cursive;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
  width: 100%;
  height: 100vh;
  background-color: #f8f7f3;
  position: relative;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
}

p {
  margin-top: 0;
  font-family: "Black Ops One", cursive;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* List */

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--white {
  fill: #fff;
}

/* Collapsibles */

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  /* transition-timing-function: ease-in-out; */
}

@media screen and (max-width: 768px) {
  .collapsible--expanded .collapsible__content {
    min-height: 100vh;
    opacity: 1;
  }
  .collapsible--expanded .nav__list {
    transition: all 4s;
  }

  .collapsible--expanded .nav__brand {
    display: none;
  }

  .collapsible--expanded .nav__toggler {
    align-self: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .collapsible--expanded .collapsible__content {
    height: 100% !important;
  }
}

/* Nav */

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 1rem;
  z-index: 10;
  width: 100%;
  border-bottom: 2px solid #fff;
}
.nav__list {
  width: 100%;
  margin: 0 5rem 0;
  gap: 2rem;
}
.nav__brand {
  width: 120px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
}
.nav__brand img {
  border-radius: 50%;
  border: 3px solid white;
}
.nav__brand2 {
  width: 150px;
  height: 75px;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  /* position: absolute;
  top: 10rem; */
}
.nav__brand2 img {
  border-radius: 50%;
  border: 3px solid white;
}
.nav__item {
  list-style: none;
}
.nav__item a {
  text-decoration: none;
  font-family: var(--font-primary);
  font-size: 2.4rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  transition: all 0.5s;
}

.collapsible--expanded {
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .nav {
    min-height: 15rem;
    justify-content: flex-end;
  }
  .nav__toggler {
    margin-top: 3rem;
  }
  .nav__brand {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .nav {
    justify-content: space-between;
    min-height: 16rem;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    opacity: 1;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20rem;
  }
  .nav__list a {
    font-size: 2rem;
  }
  .nav__brand2 {
    display: none;
  }
}

@media screen and (min-width: 951px) {
  .nav {
    min-height: 15rem;
    justify-content: space-evenly;
  }
  .nav__brand {
    position: relative;
    width: 120px;
    height: 50px;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    opacity: 1;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav__item {
    margin-right: 5rem;
  }
  .nav__item a {
    font-size: 2rem;
  }
  .nav__item a:hover {
    color: white;
  }
  .nav__brand2 {
    display: none;
  }
}

/* Hero */

.hero {
  position: relative;
  border-bottom: 3px solid red;
  padding: 10rem 0 5rem;
  z-index: 5;
}
.hero__bg {
  display: none;
}

.hero__bg-sm {
  position: absolute;
  width: 100%;
  height: 100%;
  align-self: stretch;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero__bg-sm img {
  height: 100%;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero__image {
  display: none;
}

.hero__image img {
  height: 600px;
  width: 200px;
}
.hero__info {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 1rem;
  padding: 2rem 1rem;
}
.hero__info p {
  font-family: "Black Ops One", cursive;
  color: #fff;
  font-size: 1.6rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.hero__info p:nth-of-type(2) {
  display: none;
}
.hero__heading {
  font-family: war2;
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  text-shadow: 4px 4px #ff0000;
}
.info__pic {
  display: none;
}
.buy {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 15rem;
  max-width: 20rem;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  color: red;
  letter-spacing: 4px;
  font-size: 3rem;
  min-width: 25rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero__bg {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-self: stretch;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .hero__bg img {
    height: 100%;
  }
  .hero__bg-sm {
    display: none;
  }
  .hero__image {
    display: flex;
    justify-content: flex-start;
  }
  .hero__image img {
    width: 500px;
    /* height: 800px; */
  }
  .hero-content {
    margin-top: 10rem;
  }
  .hero__info {
    position: relative;
  }
  .hero__info p {
    font-size: 2.5rem;
  }
  .hero__info p:nth-of-type(2) {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .info__pic {
    display: block;
    margin-top: 3rem;
  }
}

/* Grid */

.grid {
  display: grid;
  justify-items: center;
  align-items: center;
}
.grid--end {
  align-items: end;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Block */

.block {
  padding: 10rem 2rem;
  z-index: 1;
}
.block-light {
  background-color: #f8f7f3;
}

.box {
  width: 30vh;
  height: 20vh;
  background-color: goldenrod;
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .goal {
    padding: 2rem;
  }
}

/* About */
.about {
  z-index: 4;
  overflow: hidden;
}
.about .container {
  position: relative;
}
.about__heading {
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: red;
  letter-spacing: 4px;
}
.about .about__img,
.about .about__info {
  z-index: 3;
}
.about__info p {
}
.spot {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background-color: white;
  border-radius: 10rem;
  z-index: 1 !important;
}

.spot1 {
  right: 25rem;
  bottom: 80rem;
}
.spot2 {
  right: 10rem;
  bottom: 150rem;
}
.spot3 {
  right: 10rem;
  bottom: -15rem;
}

@media screen and (min-width: 768px) {
  .spot1 {
    position: absolute;
    right: 10rem;
    bottom: 100rem;
  }
  .spot2 {
    position: absolute;
    right: 50rem;
    bottom: 50rem;
  }
  .spot3 {
    position: absolute;
    right: 60rem;
    bottom: -25rem;
  }
  .about__info p {
    font-size: 2rem;
  }
}

/* ROADMAP  */
.rm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 10rem 2rem 30;
}
.rm__heading {
  margin: 1rem 0 5rem;
  color: red;
  font-family: var(--font-primary);
  letter-spacing: 5px !important;
  text-shadow: none;
}
.spot4 {
  right: -15rem;
  bottom: 175rem;
}
.spot5 {
  right: 15rem;
  bottom: 115rem;
}
.spot6 {
  right: -5rem;
  bottom: 55rem;
}
.spot7 {
  right: -45rem;
  bottom: 25rem;
}
.rm > .container {
  position: relative;
}
.rm__grid {
  position: relative;
  z-index: 3;
}
.rm-spot {
  width: 20rem;
  height: 20rem;
  background-color: #f8f7f3;
  border-radius: 10rem;
  z-index: -1 !important;
  position: absolute;
}

.rm--decoration {
  background: rgb(255, 255, 255);
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.rm__text {
  filter: drop-shadow(0px 0px 10px #4535c8);
  animation: glow 4s linear infinite;
  font-family: "Black Ops One", cursive;
}

.rm__block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.rm-block--decoration {
  background: #1d1e22;
  filter: drop-shadow(0px 0px 10px #4535c8);
  animation: glow 4s linear infinite;
}
@keyframes glow {
  0% {
    filter: drop-shadow(0 0 1rem rgb(9, 255, 0.5));
  }
  33% {
    filter: drop-shadow(0 0 1rem rgba(1, 6, 255, 0.5));
  }
  66% {
    filter: drop-shadow(0 0 1rem rgba(255, 0, 0, 0.5));
  }
  100% {
    filter: drop-shadow(0 0 1rem rgb(9, 255, 0.5));
  }
}
.rm-block--ph1 {
  background: url(../images/ironman-mark1.jfif);
  background-size: cover;
  background-repeat: no-repeat;
}
.rm-block--ph2 {
  /* background: url(../images/hulkbuster.jfif);
  background-size: cover;
  background-repeat: no-repeat; */
}
.rm-block--ph3 {
  background: url(../images/ironman-mark39.jfif);
  background-size: cover;
  background-repeat: no-repeat;
}

.rm__block-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 4rem;
  line-height: 3rem;
  font-size: 1.8rem;
  max-width: 25rem;
  position: relative;
}
.rm__img {
  width: 100%;
  height: 100%;
  align-self: stretch;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(3px);
  /* box-shadow: inset 0.1em 0.1em 0.5em 0.1em goldenrod; */
}
.rm__header {
  text-align: center;
  font-size: 3rem;
  z-index: 2;
  font-family: "Black Ops One", cursive;
  text-transform: uppercase;
  color: red;
  letter-spacing: 4px;
}
.rm__list {
  z-index: 2;
  font-family: "Black Ops One", cursive;
}
.rm__mascot {
  display: none;
  align-self: stretch;
}

.rm__line {
  width: 1rem;
  height: 4rem;
}
.rm__line-mid {
  width: 1rem;
  height: 4rem;
}
.rm-line--decoration {
  background: #f8f7f3;
  filter: drop-shadow(0px 0px 10px #4535c8);
  animation: glow 4s linear infinite;
  /* background: #12a0a0;
  box-shadow: 0px 0px 3px 1px #12a0a0, inset 0px 0px 3px 1px #12a0a0; */
}
@media screen and (max-width: 768px) {
  .spot5 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .spot4 {
    right: 5rem;
    bottom: 215rem;
  }
  .spot5 {
    right: 45rem;
    bottom: 155rem;
  }
  .spot6 {
    right: 35rem;
    bottom: 70rem;
  }
  .spot7 {
    right: 70rem;
    bottom: 0rem;
  }
  .rm__grid {
    display: grid;
    gap: 10rem;
  }
  .rm__mascot {
    display: block;
    overflow: hidden;
    border-radius: 5rem;
  }

  .rm__mascot img {
    width: 500px;
    height: 100%;
  }
  .rm__line-mid {
    display: none;
  }

  .rm__top-pad {
    padding-top: 10rem;
  }
}

/* Footer */
.footer a {
  text-decoration: none;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-height: 75%;
  position: relative;
}
.footer--decoration {
  border-top: 3px solid rgb(64, 92, 23);
}

.footer__img {
  position: absolute;
  width: 100%;
  height: 100%;
  align-self: stretch;
  top: 0;
  left: 0;
  z-index: -1;
}

.footer__img img {
  height: 100%;
}
.footer__btn-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  margin-top: 1rem;
  column-gap: 1rem;
}

.footer-btn__left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.footer-btn__right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.footer-btn--decoration {
  background-color: rgb(64, 92, 23);
  color: white;
}
.footer__icons {
  font-size: 4rem;
  color: black;
}

@media screen and (max-width: 1140px) {
  .footer__btn-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .footer__img-sm img {
    height: 100%;
  }
}

@media screen and (min-width: 769px) {
  .footer__img-sm {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer__img {
    display: none;
  }
  .footer__img-sm {
    position: absolute;
    width: 100%;
    height: 100%;
    align-self: stretch;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

/* Footer Button */

.footer__button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #f8f7f3;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.footer__button:hover {
  background-color: rgb(248, 247, 243);
  box-shadow: 0px 15px 20px rgb(248, 247, 243);
  color: #fff;
  transform: translateY(-7px);
}

.footer__button:active {
  transform: translateY(-1px);
}

/* Button */

button {
  padding: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  max-width: 20rem;
}

button:hover {
  background-color: red;
  box-shadow: 0px 15px 20px white;
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}
